<div class="container my-5">
    <div class="form my-2">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
              <label for="inputTarea" class="sr-only">Tarea</label>
              <input type="text" class="form-control" id="inputTarea" placeholder="Tarea">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Agregar</button>
        </form>
    </div>
    <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
</div>
